.card{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
background-color: aliceblue;
font-family: sans-serif;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content {
    padding: 20px;
}
.card-content h2 {
    margin-top: 0;
}